/* START Bootstrap Import */
@import "../../../../../Links/Framework/R360CloudFramework.Web/Content/thirdparty/bootstrap/less/mixins/clearfix.less";
@import "../../../../../Links/Framework/R360CloudFramework.Web/Content/thirdparty/bootstrap/less/variables.less";
/* END Bootstrap Import */

@import "../../../../../Links/Framework/R360CloudFramework.Web/Content/css/r360.variables.less";

.status-critical {
    color: @color-status-critical;
}
.status-non-critical {
    color: @color-status-non-critical;
}
.status-good {
    color: @color-status-good;
}
.background-status-critical{
    background-color: @color-status-critical;
}
.background-status-non-critical {
    background-color: @color-status-non-critical;
}
.background-status-good {
    background-color: @color-status-good;
}

.radient360Widget-table table {    
    margin-bottom: 0;
}

/* Navigation */

.navbar.nav-global {
    background-color: #495c80;
}

/* Panels */

.r360Panel-psHoimsKeyPerformance {
    .radient360Panel-basicPanel-widget-wrapper {
        border-top-width: 0;
    }
    .radient360Widget-basicWidget {
        word-wrap: break-word;
        text-align: center;
        
        &-title {
            height: 52px;
            padding-top: 10px;
            font-size: 1em;
            color: #99a5bd;
            font-weight: 600;
            display: block;
        }

        &-name {
            font-size: .9em;
            font-weight: 300;
            color: #fff;
            background-color: #99a5bd;
            border-radius: 4px;
            width: 70%;
            margin: auto;
            display: block;
        }
    }
}

.r360Panel-editNotableTrendFormPanel, .r360Panel-editKnownIssueFormPanel {
    table&-table {
        width: 100%;

        & > tbody > tr {

            & > td {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 80%;
            }

            & > td:first-child {
                vertical-align: top;
                width: 16%;
            }
        }

        textarea {
            vertical-align: top;
            width: 100%;
            resize: none;
        }

        .glyphicon {
            vertical-align: text-top;
            font-size: 16px;
        }
    }
}

/* Views */

.r360View-psInfoCardDetailsView {    
    @root: ~".r360View-psInfoCardDetailsView";
    @border-color: #CCC;

    &-wrapper {
        border-style: solid;
        border-width: 1px;
        border-color: @border-color;
        height: 100%;
        padding: 5px;
        background-color: #FFFFFF;
    }

    &-kpi {
        height:5%;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.6em;
    }

    &-hide {
        height:5%;
        width: 50%;
        float: right;
        text-align: right;
        display: inline-block;
    }
    
    .first-intent-table-wrapper {
        width: 100%;
        height: 77%;  
        .first-intent-table {
             width: 100%;     
            .first-intent {
                width: 100%;  
                text-align: center;
                &-value, &-label {
                    text-transform: uppercase;
                }
                &-value {
                    color: #727998;
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 1.3em;
                }
                &-label {
                    color: #99A5BC;
                }
            }
        }
    }
    
    .second-intent-table-wrapper {
        width: 100%;
        height: 20%;  
        .second-intent-table {
            width: 100%;  
            border-top: 1px;
            border-top-style: solid;  
            border-color: @border-color;            
            td:first-child {
                border-right: 1px;   
                border-right-style: solid;  
                border-color: @border-color;  
            }
            .second-intent {
                display: inline-block;
                width: 50%;
                &-value, &-label {
                    display: inline-block;
                    width: 50%;
                }
                &-value {
                    color: #727998;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 5px;
                }
                &-label {
                    color: #99A5BC;
                    text-align: left;
                }
            }
        }
    } 

    @media (min-width: @screen-sm-min) {
        .col-sm-12 &, .col-sm-8 & {
            &.horizontal-layout {
                .first-intent-table-wrapper {
                    height: 65%;  
                    .first-intent-table {
                        td {
                            float: right;
                        }
                        tr {
                            float: right;
                            width: 50%;
                        }
                        tr:first-child {
                            float: left;
                        }
                    }
                }
                &-kpi {
                    height:15%;
                }
                &-hide {
                    height:15%;
                }
                
                @{root}-current {
                    padding-left: 15px;
                }
                @{root}-ytd {
                    padding-right: 15px;
                }
                .second-intent-table-wrapper {
                    height: 25%;  
                }
            }
        }
    }
}

.r360-psEventsHeroBoxGroupPanel {
    .radient360Widget-heroBoxGroup-item-outer-wrapper {
        min-width: 15em;
    }

    .radient360Widget-heroBoxGroup-item {
        height: 6em;

        &.active .radient360Widget-basicWidgetTabular-title {
            color: #FFFFFF;
        }

        .radient360Widget-basicWidgetTabular {
            height: 100%;

            &-title {
                width: 100%;
                height: 100%;
                font-size: 2em;
                font-weight: 300;
                color: #5f6a80;
            }
        }
    }
}

.r360-psEventsLeadingLaggingPanel .radient360Widget-widgetGroup, .r360Panel-editKnownIssueLinkPanel, .r360Panel-editKnownIssueLinkPanel .radient360Widget-widgetGroup {

    @padding: 25px;

    &-widget-wrapper {
        padding-top: @padding;
        padding-bottom: @padding;
        border-top-style: dashed;
        border-top-width: 1px;

        &:first-child {
            padding-top: 10px;
            border-top-width: 0;
        }

        &.last-wrapper {
            padding-bottom: 5px;
        }
    }

    &-id {
        width: 3%;
        height: 360px;
        display: inline-block;
    }

    &-widgets {
        width: 97%;
        display: inline-block;
    }
}

.r360Panel-editKnownIssueLinkPanel {
    .multiselect-item.divider {
        margin-left: 20px;
        margin-right: 20px;
    }

    &-widget-wrapper {
        border-top-style: solid;
        border-color: #CCC;
    }
}

.r360-psReportSummaryPanel {
    .radient360Panel-basicPanel-widget-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom-style: none;
        border-radius: 3px;
        margin-bottom: 20px;
        border-top-width: 0;

        table {
            tr td:first-child {
                text-align: left;
            }
        }

        .radient360View-abstractChartView {
            padding-top: 10px;
        }

        &-0 {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            .radient360Widget-widgetGroup-widgets {
                display: table;

                .radient360Widget-widgetGroup-widget-wrapper {
                    display: inline-table;
                    width: 34%;

                    &:first-child {
                        width: 66%;
                    }

                    .radient360Widget-editableInfoCard {
                        padding-bottom: 5px;

                        &-wrapper {
                            /*border-width: 1px;
                        border-style: solid;
                        border-color: #CCC;*/
                            background-color: #f6f6f6;
                            padding: 7px;
                            border-radius: 3px;

                            .header {
                                .preTitle, .title {
                                    float: left;
                                    text-align: left;
                                    padding-right: 7px;

                                    label {
                                        margin: 0;
                                    }
                                }

                                display: inline-block;
                                width: 100%;

                                .radient360Widget-controlBar {
                                    float: right;
                                    text-align: right;

                                    .control {
                                        padding-right: 0;
                                    }
                                }
                            }

                            .content {
                                max-height: 90px;
                                overflow-y: auto;
                            }
                        }
                    }
                }
            }
        }

        .radient360Widget-table {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &-2 {
            .radient360Widget-table {
                .radient360Widget-controlIcon-content {
                    .wrapper {
                        margin-right: 35%;

                        .glyphicon, .fa {
                            display: none;
                            font-size: inherit;
                        }

                        &.clickable {
                            cursor: pointer;

                            .glyphicon, .fa {
                                display: inline-block;
                            }
                        }

                        &.number {
                            .glyphicon, .fa {
                                padding-left: 5px;
                            }
                        }

                        &.text {
                            .glyphicon, .fa {
                                padding-right: 5px;
                            }
                        }
                    }
                }
                
                tr {

                    th {
                        text-align: center;
                    }

                    td {
                        text-align: right;

                        &.radient360Widget-labelCell div {
                            margin-right: 35%;
                        }
                    }

                    td, th {
                        &:first-child {
                            text-align: left;

                            &.radient360Widget-labelCell div {
                                margin-right: 0;
                            }
                        }
                    }

                    .total-label {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* Hacks */

.psHomeLeadingLaggingTODO {
    font-size: 100px;
    padding-top: 15%;
    padding-left: 42%;
}

.radient360Widget-heroBoxGroup .radient360Widget-heroBoxGroup-outer-wrapper {
    margin-bottom: -7.5px;
}

.r360-psTabSelect .radient360Widget-controlSelect-ui-multiselect {
    min-width: 140px;
    max-width: 140px;
}

.r360-psEventsLeadingLaggingSelect.radient360Widget-controlSelect-ui-multiselect {
    min-width: 300px;
    max-width: 300px;

    .ui-multiselect-checkboxes {
        overflow-y: hidden;
    }
}

.r360-psSectionSelect.radient360Widget-controlSelect-ui-multiselect {
    min-width: 290px;
    max-width: 290px;
}

.r360-psDepartmentSelect.radient360Widget-controlSelect-ui-multiselect {
    min-width: 200px;
    max-width: 200px;
}

/** PV */
.r360Panel-pvRiskAssessmentFormPanel {
    &1, &2, &3 {
        .btn-default {        
            @btn-default-bg: lighten(#8795b6, 20%);
            background-color:  @btn-default-bg;
            border-color: darken(@btn-default-bg, 5%);
        }
        @riskLevelColors: color(gray) color(green) color(orange) color(red);
        @riskLevels: length(@riskLevelColors);
        .generate-riskLevelColors(@riskLevels);
        .generate-riskLevelColors(@n, @i: 0) when (@i < @n) {
            @riskLevelColor: multiply(white, fade(extract(@riskLevelColors, (@i + 1)), 10%));
            .riskLevel-@{i} {
                background-color: @riskLevelColor;
            }
            .generate-riskLevelColors(@n, (@i + 1));
        }
        .riskLevel- {
            background-color: transparent;
        }    

        .table {
            margin-bottom: 0;
            .lof,.cof {
                text-align: center;
            }
            .glyphicon {
                cursor: pointer;
            }
        }
        .fieldWithJustification {
            padding-bottom: 1em;
            label {
                font-size: 1.2em;
                width: 40%;
            }
            .field {
                display: inline-block;
                width: 60%;
            }
        }
        textarea, select {
            width: 100%;
        }
        .pvRiskAssessmentIntervalOverrideClass {
            .radient360Widget-heroBoxGroup-item-primary {
                position: relative;
                .glyphicon {
                    font-size: .5em;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                }
                input {
                    border: 0;
                    padding: 0;
                    max-width: 3em;
                    text-align: center;
                }
            }
        }

        fieldset {
            margin-bottom: 20px;
    }
}
}


// Dirty Hack
td.cell-0.radient360Widget-abstractWidget.radient360Widget-noModel {
    text-align: center;
    padding-top: 11em;
}
.radient360Panel-basicPanel-widget.radient360Widget-abstractWidget.radient360Widget-noModel {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}











// Info Card Notable Trend
.r360Widget-psInfoCardNotableTrend {
    .r360Widget-psInfoCardNotableTrend-wrapper {
        position: relative;
        //background-color: white;
        padding: 5px;

        .clearfix;

        .r360Widget-psInfoCardNotableTrend-icon {
            position: absolute;
            left: 5px;
            padding: 5px;
            padding-top: 12px;
        }
        
        .r360Widget-psInfoCardNotableTrend-control {
            position: absolute;
            right: 5px;
            padding: 5px;
            padding-top: 12px;
        }

        .r360Widget-psInfoCardNotableTrend-text {
            padding: 5px 27px;
            font-size: 14px;
            text-align: justify;
        }

        .r360Widget-psInfoCardNotableTrend-title {
            font-size: smaller;
            color: #99A5BC;
        }

        .r360Widget-psInfoCardNotableTrend-elements {
            float: right;
            text-align: center;
            //border-right: 1px solid #cccccc;
            border-top: 1px solid #cccccc;
            width: 25%;
            padding: 3px;
            font-size: 11px;
            .active &,.clone& {
                border-color: #aaaaaa;
            }
        }

        .r360Widget-psInfoCardNotableTrend-section {
            float: right;
            text-align: center;
            border-left: 1px solid #cccccc;
            border-top: 1px solid #cccccc;
            width: 25%;
            padding: 3px;
            font-size: 11px;
            .active &,.clone& {
                border-color: #aaaaaa;
            }
        }
    }
}